.header{
	margin-top: 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.subheader .subtitle{
	margin-top: 30px;
  margin-bottom: 30px;
}

.card-group{
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer {
  text-align: center;
}
.navbar-expand-lg {
    background-color:#800000;
    color:#ffffff;
    border-radius:0;
}

#bintang{
  margin: 50px 0;
  position: relative;
  display: block;
  color: #71EDB5;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent; 
}

.card-text{
  color: #800000;
  font-weight: bold;
}